<li class="list-group-item " data-file-id="{{ nodeFile.file.id }}">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-sm">
                <div class="row mt-1 mb-1">
                    <div class="col-0 mt-1 mb-1 ml-1">
                        <a href="{{ misc.attachment }}" target="_blank">
                            {{ icons[nodeFile.file.id] }}
                        </a>
                    </div>
                    <div class="col mt-1 mb-1 ml-1">
                        <a href="{{ misc.attachment }}" target="_blank">
                            {{ nodeFile.file.name }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row justify-content-end pr-1">
                    <div class="col-1">
                        <i class="fas fa-times remove" data-file-id="{{ nodeFile.file.id }}"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</li>
