<form id="new__password__form">
    <div class="form-group">
        <label>{{ titleLabel }}</label>
        <input
                type="text"
                class="form-control"
                name="npf__title"
                id="npf__title"
                placeholder="{{ titlePlaceholder }}"
        >
    </div>
    <div class="form-group">
        <label>{{ userNameLabel }}</label>
        <input
                type="text"
                class="form-control"
                name="npf__username"
                id="npf__username"
                placeholder="{{ usernamePlaceholder }}"
        >
    </div>
    <div class="form-group">
        <label>{{ passwordLabel }}</label>
        <input
                type="text"
                class="form-control"
                name="npf__password"
                id="npf__password"
                placeholder="{{ passwordPlaceholder }}"
        >
    </div>
    <div class="form-group">
        <label>{{ urlLabel }}</label>
        <input
                type="text"
                class="form-control"
                name="npf__url"
                id="npf__url"
                placeholder="{{ urlPlaceholder }}"
        >
    </div>
    <div class="form-group">
        <label>{{ notesLabel }}</label>
        <textarea
                class="form-control"
                id="npf__notes"
                name="npf__notes"
                placeholder="{{ notesPlaceholder }}"
                rows="3">
        </textarea>
    </div>
</form>
