<form id="ii__dirs__writable">
    {% if objectData.dir_writable.size > 0 %}
        <div class="ui container">
            <span>{{ writableDescription }}</span>
            {% for key, value in objectData.dir_writable %}
                {% if key != 'size' %}
                    <li>{{ value }}</li>
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}

    {% if objectData.dir_readable.size > 0 %}
        <div class="ui container">
            <span>{{ readableDescription }}</span>
            {% for key, value in objectData.dir_readable %}
                {% if key != 'size' %}
                    <li>{{ value }}</li>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <button class="ui disabled button" type="submit" id="ii__dirs__writable__submit">{{ submitText }}</button>
</form>