<div class="container">
    <h4>HTTP Routes</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Path</th>
            <th scope="col">Defaults</th>
            <th scope="col">Requirements</th>
            <th scope="col">Options</th>
            <th scope="col">Host</th>
            <th scope="col">Schemas</th>
            <th scope="col">Methods</th>
            <th scope="col">Conditions</th>
        </tr>
        </thead>
        <tbody>
        {% for key, route in httpRoutes %}
            <tr>
                <th scope="row">{{ route.getPath() }}</th>
                <td>{{ route.getDefaults()|json_encode }}</td>
                <td>{{ route.getRequirements()|json_encode }}</td>
                <td>{{ route.getOptions()|json_encode }}</td>
                <td>{{ route.getHost() }}</td>
                <td>{{ route.getSchemas()|json_encode }}</td>
                <td>{{ route.getMethods()|json_encode }}</td>
                <td>{{ route.getConditions()|json_encode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>API Routes</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Path</th>
            <th scope="col">Defaults</th>
            <th scope="col">Requirements</th>
            <th scope="col">Options</th>
            <th scope="col">Host</th>
            <th scope="col">Schemas</th>
            <th scope="col">Methods</th>
            <th scope="col">Conditions</th>
        </tr>
        </thead>
        <tbody>
        {% for key, route in apiRoutes %}
            <tr>
                <th scope="row">{{ route.getPath() }}</th>
                <td>{{ route.getDefaults()|json_encode }}</td>
                <td>{{ route.getRequirements()|json_encode }}</td>
                <td>{{ route.getOptions()|json_encode }}</td>
                <td>{{ route.getHost() }}</td>
                <td>{{ route.getSchemas()|json_encode }}</td>
                <td>{{ route.getMethods()|json_encode }}</td>
                <td>{{ route.getConditions()|json_encode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
