<div class="container" id="install__instance__container">
    <div class="container">
        <h1>{{ installationHeader }}</h1>

        {% if installType == 0 %}
            <p class="lead">{{ installInstructionNothingToUpdate }}</p>
        {% elseif installType ==1 %}
            <p class="lead">{{ installInstructionInstallApps }}</p>
        {% elseif installType ==2 %}
            <p class="lead">{{ installInstructionUpdateApps }}</p>
        {% elseif installType ==3 %}
            <p class="lead">{{ installInstructionInstallUpdateApps }}</p>
        {% elseif installType ==4 %}
            <p class="lead">{{ installationDescriptionError }}</p>
        {% endif %}

        {% if appsToInstall|length > 0 %}
            <div class="container">
                {% for app in appsToInstall %}
                    <div class="row">
                        <div class="col">
                            <h4 class="ui header">{{ app.getName() }}</h4>
                            <span>Version: {{ app.getVersionString() }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        {% if appsToUpdate|length > 0 %}
            <p class="lead">{{ updateInstruction }}</p>

            <div class="container">
                {% for app in appsToUpdate %}
                    <div class="row">
                        <div class="col">
                            <h4 class="ui header">{{ app.getName() }}</h4>
                            <span>Version: {{ app.getVersionString() }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if installType == 0 %}
            <button class="btn btn-primary" id="i__end__update">{{ endUpdate }}</button>
        {% elseif installType ==1 %}
            <button class="btn btn-primary" id="i__end__update">{{ installApps }}</button>
        {% elseif installType ==2 %}
            <button class="btn btn-primary" id="i__end__update">{{ updateApps }}</button>
        {% elseif installType ==3 %}
            <button class="btn btn-primary" id="i__end__update">{{ updateApps }}</button>
        {% elseif installType ==4 %}
        {% endif %}

    </div>

</div>
