<div class="container action-bar-inner">

    <div class="p-3">

        <div class="btn-group">
            <button
                    type="button"
                    class="btn dropdown-toggle btn-primary"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-target="action-bar-inner-dropdown"
                    id="{{ actionBar.getId() }}"
            >
                {{ actionBar.getDescription() }}
            </button>

            <div
                    id="action-bar-inner-dropdown"
                    class="dropdown-menu dropdown-menu-left"
                    aria-labelledby="action-bar-inner-dropdown"
            >
                {% for key, value in actionBar.getElements() %}
                    {% if value is not null %}
                        <div class="dropdown-item"
                                {% if value.getId() is not null %}
                                    id="{{ value.getId() }}"
                                {% endif %}
                        >
                            {% if value.getHref() is not null %}
                                <a href="{{ value.getHref() }}">
                                    <i class="{{ value.getType() }}"></i>
                                    {{ value.getDescription() }}
                                </a>
                            {% else %}
                                <i class="{{ value.getType() }}"></i>
                                {{ value.getDescription() }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
