<div id="app-navigation">
    <div class="scrollable">
        {% if hasActionBars == true %}
            <div class="container-fluid action-bar">
                {{ actionBar|raw }}
            </div>
        {% endif %}
        {% if appNavigation|length > 0 %}
            <ul class="list-group">
                {% for id, segment in appNavigation %}
                    <li>
                        <small class="p-3 grey-text"
                               data-id="{{ segment.getId() }}"
                        >{{ segment.getTitle() }}</small>
                    </li>
                    {% for id2, entry in segment.getEntries() %}
                        <li
                                class="list-group-item"
                        >
                            <a
                                    id="{{ entry.getSelector() }}"
                                    class="list-group-item-action d-flex align-items-baseline justify-content-start"
                            >
                                <i class="{{ entry.getIconClass() }} entry-icon"></i> {{ entry.getTitle() }}
                            </a>
                        </li>
                    {% endfor %}

                    {% if loop.last != true %}
                        <li class="list-group-item">
                            <hr>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>