<head>
    <!-- Standard Meta -->
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">

    <link href="{{ faviconPath }}" rel="shortcut icon">

    {% block stylesheets %}
        <link href="{{ fontAwesomeCss }}" rel="stylesheet"/>
        <link href="{{ appStyleSheet }}" rel="stylesheet"/>
    {% endblock %}

    {% block scripts %}
        <script src="{{ baseJs }}" type="application/javascript"></script>
        {% for key, value in scripts %}
        <script src="{{ app_asset('') }}{{ key }}" type="{{ value }}"></script>
        {% endfor %}
        {% for key, value in appScripts %}
        <script src="{{ app_asset(key) }}" type="{{ value }}"></script>
        {% endfor %}
    {% endblock %}

    <title>{{ title }}</title>
    <!--

    ██╗  ██╗███████╗███████╗███████╗████████╗ █████╗ ███████╗██╗  ██╗
    ██║ ██╔╝██╔════╝██╔════╝██╔════╝╚══██╔══╝██╔══██╗██╔════╝██║  ██║
    █████╔╝ █████╗  █████╗  ███████╗   ██║   ███████║███████╗███████║
    ██╔═██╗ ██╔══╝  ██╔══╝  ╚════██║   ██║   ██╔══██║╚════██║██╔══██║
    ██║  ██╗███████╗███████╗███████║   ██║   ██║  ██║███████║██║  ██║
    ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝

    Open source password safe
    Copyright (c) Keestash (https://www.keestash.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    -->
</head>
