<nav class="navbar sticky-top flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ mainHref }}">
        <img src="{{ logopath }}" height="30" alt="{{ vendorName }}">
    </a>

    {% if contextless == false %}
        <div class="btn-group">
            <button type="button"
                    class="btn dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-target="#navbarDropdown"
            >
                <img src="{{ userImage }}" class="avatar">
            </button>
            <div id="navbarDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                {% for partId, partEntry in settings %}
                    {% for id, entry in partEntry.getEntries() %}

                        <li><a class="dropdown-item" href="{{ baseURL }}/{{ entry.getName()|lower }}"><i
                                        class="{{ entry.getFaClass() }} fa-1x"></i>&nbsp;{{ entry.getName() }}</a>
                        </li>
                    {% endfor %}

                {% endfor %}
            </div>
        </div>
    {% endif %}
</nav>
