<table class="ui compact celled definition table" id="all__users__table">
    <thead class="full-width">
    <tr>
        <th></th>
        <th>{{ name }}</th>
        <th>{{ firstName }}</th>
        <th>{{ lastName }}</th>
        <th>{{ password }}</th>
        <th>{{ email }}</th>
        <th>{{ phone }}</th>
        <th>{{ website }}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr data-id="{{ user.getId() }}">
            <td class="collapsing">
                <div class="ui fitted slider checkbox">
                    <input type="checkbox" checked> <label></label>
                </div>
            </td>
            <td>{{ user.getName() }}</td>
            <td>
                <div class="ui fluid transparent input editable">
                    <input class="all__users__editable"
                           data-type="firstname"
                           data-edited="false"
                           type="text"
                           value="{{ user.getFirstName() }}"
                    >
                    <i class="grey arrow right icon"></i>
                </div>
            </td>
            <td>
                <div class="ui fluid transparent input editable">
                    <input class="all__users__editable"
                           data-type="lastname"
                           data-edited="false"
                           type="text"
                           value="{{ user.getLastName() }}"
                    >
                    <i class="grey arrow right icon"></i>
                </div>
            </td>
            <td>
                <div class="ui fluid transparent input editable">
                    <input class="all__users__editable"
                           data-type="password"
                           data-edited="false"
                           type="text"
                           value=""
                           placeholder="{{ addNewPasswordPlaceholder }}"
                    >
                    <i class="grey arrow right icon"></i>
                </div>
            </td>
            <td>
                <div class="ui transparent input editable">
                    <input class="all__users__editable"
                           data-type="email"
                           data-edited="false"
                           type="text"
                           value="{{ user.getEmail() }}"
                    >
                    <i class="grey arrow right icon"></i>
                </div>
            </td>
            <td>
                <div class="ui  transparent input editable">
                    <input class="all__users__editable"
                           data-type="phone"
                           data-edited="false"
                           type="text"
                           value="{{ user.getPhone() }}"
                    >
                    <i class="grey arrow right icon"></i>
                </div>
            </td>

            <td>
                <div class="ui  transparent input editable">
                    <input class="all__users__editable"
                           data-type="website"
                           data-edited="false"
                           type="text"
                           value="{{ user.getWebsite() }}"
                    >
                    <i class="grey arrow right icon"></i>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th></th>
        <th colspan="9">
            <button class="ui right floated small primary labeled icon button" id="all__users__add__new__user">
                <i class="user icon"></i> Add User
            </button>
        </th>
    </tr>
    </tfoot>
</table>